files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDETCCAfkCFGaxXF0k2fyeMsdOiibx6OpZRo2iMA0GCSqGSIb3DQEBCwUAMEUx
      CzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRl
      cm5ldCBXaWRnaXRzIFB0eSBMdGQwHhcNMjExMTAyMTgyMTUzWhcNMjIxMTAyMTgy
      MTUzWjBFMQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UE
      CgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAx64ddPKdJnrtJ6vozE9eHV20iUTlVXKzLZjO101xn8Ue0Eem
      l88WiosVR775ijdPu1/bHiaNHNvOUZlmVSFJxeEqyh9jCWbqNy2RTVWeYklMap6w
      gjjOANbzHLRrREDjqOiEntKrVlYbuOgCH63owa5fns4aKDZTfwX4076RXaKMe8aa
      jtip20nIFO9l1A8pEXRcbvxIkXXrfvKE4OC7CG2s+6xlPj43nxtjaoaC9VwK8SCb
      Kmfi6vt4M4oyDyXKPhWpRQgI5CKuzrRkm85TYIGerA0ILTsjX7ClWtc2bG1gUn0q
      WoD+ji8j34+qOhYiGJvpfn3+/XZEGbsyGe6ihwIDAQABMA0GCSqGSIb3DQEBCwUA
      A4IBAQCnzwgJjbkQa9AT9XVcDU3zXr11y22O/vOIhZCeJSMHXvAanXscWKGgqzD4
      V44H6Mt5AupyWyMeH9rvwPUv+foXPvtjlED8L83vtqVu9MsbjxdlShSXWA7yXkSV
      rvQN8pV3lW9HpqGQLs3viiiH05clpt2EwOZKAsH4KdJnD27Y1yG/8mxRhZu3Yokg
      GtEyZI7vjxblGFJZ+b/0J9muEFSmi/jCLWfZ9TzDS92cK/RjfFauKfGaR8DLnfJf
      8J0OFOTY9q+fEmwCcI7DFSJ5hQSYxf35TmGd6BMp02x6Vh2Z3bnYyveS6hSzdbz9
      YQfYW7M+qi3ZsraMdOgKkVZtGB8O
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEAx64ddPKdJnrtJ6vozE9eHV20iUTlVXKzLZjO101xn8Ue0Eem
      l88WiosVR775ijdPu1/bHiaNHNvOUZlmVSFJxeEqyh9jCWbqNy2RTVWeYklMap6w
      gjjOANbzHLRrREDjqOiEntKrVlYbuOgCH63owa5fns4aKDZTfwX4076RXaKMe8aa
      jtip20nIFO9l1A8pEXRcbvxIkXXrfvKE4OC7CG2s+6xlPj43nxtjaoaC9VwK8SCb
      Kmfi6vt4M4oyDyXKPhWpRQgI5CKuzrRkm85TYIGerA0ILTsjX7ClWtc2bG1gUn0q
      WoD+ji8j34+qOhYiGJvpfn3+/XZEGbsyGe6ihwIDAQABAoIBAQCYGECptq8LA3Em
      2aPOE9pNJfYA5PCGQILIhW9vwbZ9iwkofpsfYQb7amtAJfAvXmgmAiKF+blctPSX
      ZO/0ghGOXy9Xm8a0/6YBd30I2eF1Xf2N7OfnmNsY+qFdSPO3nnGKU+nIjBEkBxzA
      oEAV30K+XFLLRJPZ819wDp10s+BH39Ls08o7cD+MDXylG2jqqa5117vQ5OJwX62r
      De+0/0UJm61ulXlzTafGNk29TZtibjrA09aCi3XFr610jTwuSOS4PbqIjWAJ1Tpj
      yCCiZlQgJMbaOKNyjPGooTbUG8C0UdzkEpEFGXoBv6YYDlpiINxxZ2Izo6yHIvts
      PCrC6//BAoGBAOixy8w1I4AneRKWBWMVCUllMyKjmOMhE98itbuJHEjPfB6aIhKN
      1E+PnJUQAiUp89odL94YBHV3RNWeg8O+VRi1+V/vTpjh7slsYMeC9eVMbU4I6s90
      ZNF4TVOYWjU4rJA+flTEG2G7pHcdYb4mZy8nXcN4R2p1vr8EzkPkX5dhAoGBANut
      15b0CVgaDuQpClGmY3w3h0PKnYyvQrV/lsI9j9ReXcYFlcoraRXnNPqsp8dpcBJu
      n1xgKMnyBsZA4vW0mfgjNW/U5YhnJE9ZqtljSxNkY5/RfbZYFaNZRJAEBmx9ueIl
      PVZxbKXonE6IUcwtJOmbg4Qbq7HLEcfDlmfcy0rnAoGAAkeLmYqDuIOqefYiQ2A3
      YRKut44mt0LhsPPkF9w1/LibnKkh4FCnXcgoXoVzn+2TR/W1PFW75XKvp/APlmFM
      8BsIQFpVyMWd0zdOk2XDBuYCxBruQe3/9tVY3JLHf3H4rskN78KkCgcOi2QsSvKR
      XDLkhj+tY2uX3MMtShj4nsECgYEAj8v8qkg18aClDL68jXPf/UiP11VCyftTLGFH
      OwB3LKlUsrGnOj4uPHMq38eyz7p57ObSk/Ix4Pb3bkC9D97XRnEtonV2hlIVl4d3
      aXMwipIVEGFd68U+7L0bPzYTSmMGET0VKId4eiWIY3OiL4eBeRUeApTmT6xAiEXE
      J1qFDBMCgYEAlR//KejuebtgG+pDKqTf6vEPQIXDa7BnmnWurOhmCdei9i98ei4M
      yZMDeQ7fn9FZV73Wq3fgkRXL0kmbbbiTJgJUnbNz/qmQZeywHuRw5UGNIvjX9H3o
      OzM42Pd2RT7MIki+/m8rLNnFrURpCYbEj+Z3TFYnOGxnXiQaTodHHFU=
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart